*{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: bisque;
}

.paginas-geral{
    background-color: #f0f0f0; /* Cor de fundo clara */
    color: #333; /* Cor do texto escura para contraste */
   text-align: center;
}

.icons{
    display: flex; /* Usa flexbox para alinhar os ícones */
    justify-content: center; /* Centraliza os ícones horizontalmente */
    align-items: center; /* Centraliza os ícones verticalmente */
    gap: 20px; /* Espaçamento entre os ícones */
    margin: 20px 0; /* Espaçamento superior e inferior */
}

.icons img{
    width: 220px; /* Tamanho dos ícones */
    height: 220px;
}

.icons img:hover{
    transform: scale(1.2); /* Aumenta o tamanho do ícone ao passar o mouse */
    transition: transform 0.4s; /* Animação suave */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

footer{
    background-color: #0a0a0a; 
    color: white;  
    text-align: center; /* Centraliza o texto */
    padding: 20px; /*Adiciona preenchimento*/
    position: relative; /* Permite posicionamento absoluto dos elementos filhos */
    bottom: 0; /* Mantém o rodapé na parte inferior da página */
    width: 99%; /* Garante que o rodapé ocupe toda a largura da página */
}
